* {
    box-sizing: border-box;
  }
    
    body {
      font-size: 24px;
      line-height: 32px;
      color: #333;
    }
  
    section {
      padding: 20px;
    }
  
    a {
      text-decoration: none;
      color: gray;
    }
    
    .jason-dark {
      margin-left: 21%;
      margin-right: 18%;
      color: white;
      float: left;
      width: 14%;
      background: rgb(163, 236, 236);
      font-size: 40px;
    }
  
    ul {
      list-style-type: none;
    }
  
    li {
      display: inline-block;
      border-right: 1px solid #ccc;
      padding: inherit;
      }
  
      li:last-child  { border: 0; }
    
    .about {
      float: left;
      width: 10%;
      background:white;
      font-size: 20px;
      margin-top: 10px;
    }
    
    .portfolio {
      float: left;
      width: 10%;
      background: white;
      font-size: 20px;
      margin-top: 10px;
    }
  
    .contact {
      float: left;
      width: 10%;
      background:white;
      font-size: 20px;
      margin-top: 10px;
    }
    
    .middle-backdrop {
      height: 700px;
      width: 100%;
      margin-bottom: 0%;
      overflow: auto;
      clear: both;
      background: #eee;
    }
    .about-me {
      clear: both;
      text-align: left;
      font-size: 40px; 
      background: white;
      color:rgb(163, 236, 236);
      width: 100%;
    }
  
    hr {
      line-height: 1px;
    }
  
    .pic {
      margin-top: 25px;
      clear: both;
      height: 200px;
      float: left; 
      padding-right: 15px;
    }
    
    aside {
      width: 60%;
      height: 500px;
      padding: 20px;
      margin-left: 20%;
      background: #fff;
      border: 1px solid #eee;
    }
    
    footer {
      height: 50px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 20px;
      clear: both;
      background: #ccc;
      text-align: center;
    }

    form {
      color: gray;
      font-size: 20px;
    }

    input {
      display: block;
      width: 100%;
    }

    #name {
      height: 30px;
    }

    #email {
      height: 30px;
    }

    #message {
      height: 150px;
      width: 100%;
    }

    #paside {
      height: 1000px;
    }

    .ppic {
      display: block;
      float: left;
      margin-left: 13%;
      padding: 5px;
    }
